.time-line-f-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  .first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .line-item-text {
      font-size: 25px;
      color: rgba(136, 136, 136, 0.7);
    }
  }

  .bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //margin: 0 1% 0 1%;
    margin: 0 4% 0 4%;
    //margin: 0 15px 0 15px;
    .bar-item {

      height: 18px;
      background-color: rgba(210, 210,210,0.5);
    }

    .bar-item-selected {
      height: 18px;
      background-color: rgba(35,169,244,0.5);
    }

    //background: #00a0ad;
    //width: 95%;
    //margin: 0 auto;
  }

  .last-line{
    display: flex;
    justify-content: space-between;
    .last-line-item{
      font-size: 27px;
      color: rgba(136, 136, 136, 0.7);
    }
  }

}
