.container {
  margin-right: 16px;
  background: #FFFFFF;

  padding: 16px;

  border-left: 4px solid #3186f6;
  border-radius: 8px;

  cursor: pointer;

  .title {

  }

  .who {
    font-size: small;
    color: gray;
  }

  .timeStr {
    font-size: small;
    color: gray;
  }
}
