.container {
  margin-right: 16px;
  background: #FFFFFF;

  padding: 16px;

  border-left: 4px solid #3186f6;
  border-radius: 8px;

  cursor: pointer;

  .title-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .title {

    }

    .status {

    }
  }

  .first-line {
    display: flex;
    flex-direction: row;
    .creator {

      display: flex;
      flex-direction: row;
    }
    .meeting-name {

      display: flex;
      flex-direction: row;
    }
  }

  .second-line {
    display: flex;
    flex-direction: row;
    .date-easyread {

    }

    .time {

    }
  }

  .double-arrow {
    float: right;
    vertical-align: middle;
  }
}
